
<div class="p-grid p-d-flex p-jc-center p-mx-auto p-mt-2">
            <div class="col-12 p-md-5 p-text-start">
                    <h5>Your Created Conversavtion</h5>
                    <p-table [value]="conversation" selectionMode="single" [(selection)]="selectedProduct2" dataKey="name"
                        (onRowSelect)="onRowSelect($event)">
                        <!-- (onRowUnselect)="onRowUnselect($event)" -->
                        <ng-template pTemplate="header">
                            <tr>
                                <th><p-chip label="Your name:-{{name}}" icon="pi pi-copy" (click)="copyId()"></p-chip></th>
                                <th colspan="2" class="p-text-right">
                                    <button pButton label="New Conversation" pRipple (click)="modal=true" type="button" icon="pi pi-plus" class="p-button-outlined p-button-rounded p-button-help">                                        
                                    </button>
                                </th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-product>
                            <tr [pSelectableRow]="product">
                                <td><i class="pi pi-user p-mr-2 text-700"></i></td>
                                <td>{{product.name}}</td>
                                <td class="p-text-center">
                                  
                                    <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="deletecon(product)"></button>
                                </td>
                                
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
            <div class="col-12 p-md-5 p-text-start">
                  <section class="msger">
                    <header class="msger-header">
                      <div class="msger-header-title">
                        <i class="pi pi-whatsapp"></i> Rocket Chat App
                      </div>
                      <div class="msger-header-options">
                        <span>
                          <i class="pi pi-server"></i></span>
                      </div>
                    </header>
                  
                    <main class="msger-chat" #content>
                      <div class="message p-d-flex" [ngClass]="{'p-jc-end':message.fromMe}" *ngFor="let message of message" #messages>
                        <!-- <div  class="msg left-msg">
                          <div
                           class="msg-img"
                           style="background-image: url(https://ucarecdn.com/0d26e991-266c-491f-a842-6e2874527e9a/userprofile.jpg)"
                          ></div>
                    
                          <div class="msg-bubble">
                            <div class="msg-info">
                              <div class="msg-info-name">BOT</div>
                              <div class="msg-info-time">12:45</div>
                            </div>
                    
                            <div class="msg-text">
                              Hi, welcome to SimpleChat! Go ahead and send me a message. 😄
                            </div>
                          </div>
                        </div>
                    
                        <div  class="msg right-msg">
                          <div
                           class="msg-img"
                           style="background-image: url(https://image.flaticon.com/icons/svg/145/145867.svg)"
                          ></div>
                    
                          <div class="msg-bubble">
                            <div class="msg-info">
                              <div class="msg-info-name">Sajad</div>
                              <div class="msg-info-time">12:46</div>
                            </div>
                    
                            <div class="msg-text">
                              You can change your name in JS section!
                            </div>
                          </div>
                        </div>
                   -->
                        <div class="p-d-flex" [ngClass]="{'msg right-msg': message.fromMe, 'msg left-msg': !message.fromMe}">
                          <div class="msg-img" style="background-image: url(https://ucarecdn.com/0d26e991-266c-491f-a842-6e2874527e9a/userprofile.jpg)"></div>
                    
                          <div class="msg-bubble">
                            <div class="msg-info">
                              <div class="msg-info-name">{{message.fromMe ? 'You' : message.sendername}}</div>
                              <!-- <div class="msg-info-time">{{message.time ? convertDateToShortTime(curDate) : convertDateToShortTime(message.time)}}</div> -->
                              <div class="msg-info-time">{{convertDateToShortTime(message.time)}}</div>
                            </div>
                    
                            <div class="msg-text">
                              {{ message.text }}
                            </div>
                          </div>
                        </div>
                  
                  
                      </div>
                     
                  
                  
                    </main>
                  
                    <div class="p-grid p-fluid p-d-flex p-jc-center ">
                      <div class="p-col-10 p-md-9 p-m-2"> 
                        <div class="p-inputgroup">
                          <input type="text" pInputText [(ngModel)]="text" placeholder="Enter your message...">   
                          <button type="button" pButton (click)="send()" pRipple icon="pi pi-arrow-right" styleClass="p-button-warn"></button>      
                      </div>
                      </div>
                      <div class="p-col-2 p-md-3 p-m-2">
                        
                      </div>
                      <!-- <input type="text"  class="msger-input" placeholder="Enter your message...">
                      <button pButton label="Send" pRipple (click)="send()" type="button" class="p-button-rounded p-button-warning p-button-sm"></button> -->
                    </div>
                  </section>

                <!-- <div class="p-fluid p-formgrid p-grid p-d-flex">
                    <div class="p-field p-col-12">
                        <textarea id="address" [(ngModel)]="text" type="text" rows="4" pInputTextarea></textarea>
                    </div>
                    <div class="p-field p-col-6 p-as-end">
                        <button pButton label="Send" pRipple (click)="send()" type="button" class="p-button-rounded p-button-warning p-button-sm"></button>
                    </div>
                </div> -->
            </div>

          


          <!-- </div> -->
    <!-- </div> -->
    
</div>
<p-toast position="bottom-right"></p-toast>


<p-dialog header="Add Conversation" [(visible)]="modal" [modal]="true" [style]="{width: '50vw'}" [baseZIndex]="10000"
    [draggable]="false" [resizable]="false">
    <div class="p-grid p-d-flex p-jc-center">
        <div class="p-col-12 p-md-10">
            <p-listbox [checkbox]="true" [options]="contactlist" [(ngModel)]="selectedList" [multiple]="true" optionLabel="name" [filter]="true"></p-listbox>
        </div>
        <div class="p-col-12 p-md-6">
            <button pButton label="Create" pRipple (click)="createConversation()" type="button" class="p-button-rounded p-button-help"></button>  
        </div>
    </div>
    </p-dialog>
