
<div class="p-grid p-d-flex p-jc-center p-mx-auto p-mt-2">
            <div class="col-12 p-md-5 p-text-start">
                    <h5>Your Created Conversavtion</h5>
                    <p-table [value]="conversation" selectionMode="single" [(selection)]="selectedProduct2" dataKey="name"
                        (onRowSelect)="onRowSelect($event)">
                        <!-- (onRowUnselect)="onRowUnselect($event)" -->
                        <ng-template pTemplate="header">
                            <tr>
                                <th><p-chip label="Your name:-{{name}}" icon="pi pi-copy" (click)="copyId()"></p-chip></th>
                                <th colspan="2" class="p-text-right">
                                    <button pButton label="New Conversation" pRipple (click)="modal=true" type="button" icon="pi pi-plus" class="p-button-outlined p-button-rounded p-button-help p-button-text">                                        
                                    </button>
                                </th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-product>
                            <tr [pSelectableRow]="product">
                                <td><i class="pi pi-user p-mr-2 text-700"></i></td>
                                <td>{{product.name}}</td>
                                <td class="p-text-center">
                                  
                                    <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="deletecon(product)"></button>
                                </td>
                                
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
            <div class="col-12 p-md-5 p-text-start">
                  <!-- <section class="msger">
                    <header class="msger-header">
                      <div class="msger-header-title">
                        <i class="pi pi-whatsapp"></i> Rocket Chat App
                      </div>
                      <div class="msger-header-options">
                        <span>
                          <i class="pi pi-server"></i></span>
                      </div>
                    </header>
                  
                    <main class="msger-chat" #content>

                      <div class="message p-d-flex" *ngFor="let message of message" #messages>
                       <div class="p-d-flex" [ngClass]="{'msg right-msg': message.fromMe, 'msg left-msg': !message.fromMe}">
                          <div class="msg-img" style="background-image: url(https://ucarecdn.com/0d26e991-266c-491f-a842-6e2874527e9a/userprofile.jpg)">
                          </div>
                          <div class="msg-bubble">
                            <div class="msg-info">
                              <div class="msg-info-name">{{message.fromMe ? 'You' : message.sendername}}</div>
                              <div class="msg-info-time">{{convertDateToShortTime(message.time)}}</div>
                            </div>
                    
                            <div class="msg-text">
                              {{ message.text }}
                            </div>
                          </div>
                        </div>
                  
                  
                      </div>
                     
                  
                  
                    </main>
                  
                    <div class="p-grid p-fluid p-d-flex p-jc-center ">
                      <div class="p-col-10 p-md-9 p-m-2"> 
                        <div class="p-inputgroup">
                          <input type="text" pInputText [(ngModel)]="text" placeholder="Enter your message...">   
                          <button type="button" pButton (click)="send()" pRipple icon="pi pi-arrow-right" styleClass="p-button-warn"></button>      
                      </div>
                      </div>
                      <div class="p-col-2 p-md-3 p-m-2">
                        
                      </div>
                    </div>
                  </section> -->

                  <div class="container">
                    <div class="top">
                        <div class="AvatarBot">
                            <img src="https://ucarecdn.com/0d26e991-266c-491f-a842-6e2874527e9a/userprofile.jpg" alt="RagBot">
                        </div>
                        <div class="InfoBot">
                            <p class="TitleBot">{{selectedProductName}}</p>
                            <p class="status">Away</p>
                        </div>
                    </div>
                    <div class="ContentChat" #content>
                      <div *ngFor="let message of message">
                        <div [ngClass]="{'massage msgCaption': message.fromMe, 'captionBot msgCaption': !message.fromMe}"
                         [attr.data-user]="message.fromMe ?true : false" >
                         
                          <span> {{message.fromMe ? 'You' : message.sendername}} </span>
                        </div>
                        <div class="massage" [attr.data-user]="message.fromMe ?true : false" >
                          <div [ngClass]="{'user-response': message.fromMe, 'bot-response text': !message.fromMe}" 
                          [attr.data-user]="message.fromMe?true : false" [text-first]="message.fromMe ?true : false">
                          {{ message.text }}
                          </div>
                        </div>

                      </div>
                
                    

                    </div>
                    <div class="BoxSentMSG ">
                        <input type="text" [(ngModel)]="text" placeholder="Type your message here " class="InputMSG " required>
                        <button pButton label="Send" pRipple (click)="send()" type="button" class="p-button-rounded p-button-secondary p-button-text p-button-sm"></button>
                    </div>
                    <span class="by">
                        <span>Powered by</span>
                    <a target="_blank " href="https://github.com/emnatkins/raybot" style="color: rgb(18, 91, 251); ">Mubashir Ansari</a>
                    </span>
                </div>


            </div>    
</div>


<p-dialog header="Add Conversation" [(visible)]="modal" [modal]="true" [style]="{width: '50vw'}" [baseZIndex]="10000"
    [draggable]="false" [resizable]="false">
    <div class="p-grid p-d-flex p-jc-center">
        <div class="p-col-12 p-md-10">
            <p-listbox [checkbox]="true" [options]="contactlist" [(ngModel)]="selectedList" [multiple]="true" optionLabel="name" [filter]="true"></p-listbox>
        </div>
        <div class="p-col-12 p-md-6 p-text-right p-mt-4 p-p-2">
            <button pButton label="Create" icon="pi pi-plus" pRipple (click)="createConversation()" type="button" class="p-button-rounded p-button-help p-button-text"></button>  
        </div>
    </div>
    </p-dialog>
