<p-menubar [model]="items">
    <ng-template pTemplate="start">
        <img src="../../assets/loogo.png" height="40" class="p-mr-2">
    </ng-template>
    <ng-template pTemplate="end">
        <button pButton pRipple type="button" class="p-button-outlined p-button-rounded">EXPENSE DETAIL</button> 
    </ng-template>
    <ng-template pTemplate="end">
        <!-- <p-tag class="p-mb-3" value={{id}}></p-tag> -->
       <!-- <span> {{id}} </span>  -->
       <button pButton pRipple type="button" label="saga-blue" (click)="changeTheme('saga-blue')" class="p-button-outlined p-button-rounded"></button>
       <button pButton pRipple type="button" label="dark indigo" (click)="changeTheme('md-dark-indigo')" class="p-button-rounded p-button-secondary"></button>
       <button pButton pRipple type="button" label="vela-blue" (click)="changeTheme('vela-blue')" class="p-button-rounded p-button-primary"></button> 
        <button pButton label="Logout" pTooltip="Your id is {{id}}" tooltipPosition="bottom" (click)="fnLogout()" pRipple type="button" icon="pi pi-user" class="p-button-outlined p-button-rounded"></button>
        <!-- <button pButton pRipple type="button" icon="pi pi-user" class="p-button-outlined p-button-rounded"></button> 
        <button pButton pRipple type="button" icon="pi pi-heart" class="p-button-outlined p-button-rounded"></button>
         <button pButton pRipple type="button" icon="pi pi-wallet" class="p-button-outlined p-button-rounded"></button>     -->
    
         <!-- <p-dropdown [options]="cities" [(ngModel)]="selectedCity1" placeholder="Select a City" optionLabel="name"
         [showClear]="true"></p-dropdown> -->
    </ng-template>
</p-menubar>
<!-- <div class="p-grid p-d-flex p-jc-center">
    <div class="p-col-12 p-text-center">
        <p-tabMenu [model]="menuitem" [activeItem]="activeItem"></p-tabMenu>
    </div>
</div> -->